.code-font {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.8em;
    letter-spacing: 1px;
    color: #2e2e2e;
}

.token-selector{
    color: #9ddb21;
}

.token-property, .token-symbol, .token-tag {
    color: #f92672;
}

.token.atrule, .token.attr-value, .token.class-name, .token-function {
    color: #e2d02e;
}

  